* {
    font-family: Inter var,
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background: lightgray;
    padding: 25px;
}

h1 {
    margin: 0;
}

main {
    padding: 15px;
}

#app {
    border: 2px solid lightgray;
    text-align: center;
}
